@model Pagination
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using BeanBag.Services

@inject IAIService _aiService



@{int i = 1;}

@{
    ViewBag.Title = "AIModel";
}
<link href="~/lib/bootstrap/dist/css/" rel="stylesheet" />
<link href="~/css/AIModels.css" rel="stylesheet" />
<section class="page-content" xmlns="http://www.w3.org/1999/html">
    
    <section class="search-and-user">
        <span class="col-md-2 text-secondary ">
             AI Models
        </span>
  
    </section>
    
    <div class="dashboard-wrapper">
         <div class="container-fluid  dashboard-content">
         
      
         
         
         
         
             <hr>
            @if (@ViewBag.SubscriptionExpired == false)
            {
                <div class="row">
         <b class="pl-3">Total Models &nbsp;</b> &nbsp;<i class="fas fa-angle-right pt-1 "></i>  &nbsp; <span class="text-color" > &nbsp; @ViewBag.totalModels</span>
             
                    <div class=" mr-3 ml-auto">
                      
                            <a asp-controller="AiModel" asp-action="CreateModel" class="btn btn-3 shadow-sm bg-body rounded" data-toggle="modal" data-target="#exampleModal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Create New Model&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></a>
                      
                    </div>
                </div>
                <br>

                <div class="row">

                    <!--Date sorts-->
                    @using (Html.BeginForm())
                    {
                        <div class="d-flex">
                            <span class="d-inline-block ml-3 pt-2">
                                <b>Find Entries</b> &nbsp;<i class="fas fa-angle-right"></i> &nbsp; From Date &nbsp;</span>
                            <span class=" d-inline-block">
                                @Html.TextBox("from", null, new {@class = "form-control ", type = "date"})
                            </span>
                            <span class="d-inline-block pt-2">
                                &nbsp; &nbsp; To Date &nbsp;</span>
                            <span class=" d-inline-block">
                                @Html.TextBox("to", null, new {@class = "form-control ", type = "date"})
                            </span>
                            @Html.TextBox("sortOrder", "date", new {@class = "form-control col-md-2 ml-1", type = "text", hidden = true})
                            <span class="d-inline-block pl-2">
                                <input type="submit" name="go" id="btn_search" value="Go" class="btn btn-3"/>
                            </span>
                        </div>
                    }

                    <!--Search-->
                    <div class="mr-3 ml-auto ">
                        @using (Html.BeginForm())
                        {
                            <div class="input-group md-form form-sm form-2 pl-0 shadow-sm bg-body rounded">
                                @Html.TextBox("SearchString", null, new {@class = "form-control  my-0 py-1 red-border", placeholder = "Search"})
                                <div class="input-group-append">
                                    <button class="input-group-text " value="Search" type="submit" id="basic-text1"> <i class="fas fa-search text-grey" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                
                                    @if (Model.PagedListModels.Any())
                                    {
                                        

                                        <div class="container mt-5 mb-3">
                                            <div class="row">
                                        @foreach (var models in Model.PagedListModels)
                                            {
                                                
                                                        <div class="col-md-4 pt-5">
                                                            <div class="card shadow p-3 mb-2">
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex flex-row align-items-center">
                                                                        <div class="icon"> <i class="bx bxl-mailchimp">
                                                                            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/50/000000/external-ai-artificial-intelligence-kiranshastry-lineal-kiranshastry.png" alt=""/></i> </div>
                                                                        <div class="ms-2 c-details">
                                                                            <h6 class="mb-0"></h6> &nbsp;&nbsp;Model #@i<span><br> &nbsp; Created | @models.dateCreated.ToShortDateString()</span>
                                                                   @{ i++; }  </div>
                                                                    </div>
                                                                    <div class="badge"> <span>Available</span> </div>
                                                                </div>
                                                                <div class="mt-5">
                                                                    <h3 class="heading">@models.name</h3>
                                                                    <h5> @models.description</h5>
                                                                    <div class="mt-5 pb-5">
                                                                        <div class="progress">
                                                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                                        </div>
                                                                        <div class="mt-3"> <span class="text1"> @_aiService.getAllAvailableIterationsOfModel(@models.Id).Count of <span class="text2">20 iterations created</span></span> </div>
                                                                    <div class="mt-3"> <span class="text1">Total image count of <span class="text2">@_aiService.getImageCount(@models.Id)</span></span> </div>
                                                                                                                                      
                                                                        </div>
                                                                <hr>
                                                                    <div>
                                                                          <div class="w-100 btn-group" role="group">
                                                                              <a href="@Url.Action("EditAiModel", "AiModel", new {@models.Id})"
                                                                                 class="btn edit" data-toggle="modal" data-target="#exampleModal3"
                                                                                 data-id="@models.Id"><button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"> </i></button></a>
                                                                              <a href="@Url.Action("DeleteAiModel", "AIModel", new {projectId = @models.Id})"
                                                                                 class="btn delete" data-toggle="modal" data-target="#exampleModal4" data-id="@models.Id"><button class="btn" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"> </i></button></a>
                                                                        
                                                                              <a asp-controller="AiModel" asp-action="ModelVersions" asp-route-projectId="@models.Id" class="btn"><button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="View"><i class="fas fa-eye"> </i></button></a>
                                                                              </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                     
                                            }
                                      
                                        </div>
                                        </div>   }
                                    else
                                    {
                                       
                                        <!--Empty state partial view where theres no models-->
                                        <div class="container h-100 d-flex justify-content-center pt-xl-5">
                                            <div class=" my-auto pt-xl-5 text-center">
   
                                                <img src="images/empty.png" class="text-secondary pt-xl-5 mt-5" alt="" width="200">
                                                <h3 class="pt-4"> No AI models found</h3>
                                                <h5 class="text-secondary p-2">Start creating a new model</h5>
                                            </div>
                                        </div>
                                    }
                                </div>
                
                <div class="pt-3">
                    @Html.PagedListPager(Model.PagedListModels, page => Url.Action("Index", new {page}), new PagedListRenderOptions
                    {
                        DisplayLinkToIndividualPages = true,
                        DisplayPageCountAndCurrentLocation = false,
                        MaximumPageNumbersToDisplay = 10,
                        LiElementClasses = new[] {"page-item, bg-light"},
                        PageClasses = new[] {"page-link", "text-color", "bg-light"},



                    })
                </div>

                <!--Code to show current page and page number-->
                <div>
                    Showing @(Model.PagedListModels.PageCount < Model.PagedListModels.PageNumber ? 0 : Model.PagedListModels.PageNumber) out of @Model.PagedListModels.PageCount pages
                </div>
            }
            else
            {
                //Partial view for subscription expired
                await Html.RenderPartialAsync("_SubscriptionError");   
            }
    </div>
</div>

    <!---Popup Form to create model -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  id="exampleModalTitle">Create New Model </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                
            <form method="post" asp-action="CreateModel" >
                <div class="modal-body">
                    <div class="form-group ">
                        <input asp-for="AiModel.Id" hidden />

                        <label asp-for="AiModel.name" class="col-form-label">Model Name * </label> <!--Inventory Name-->
                        <input asp-for="AiModel.name" class="form-control" /> <!--input box-->
                        <label class="col-form-label">Description *</label> <!-- Name-->
                        <input asp-for="AiModel.description" class="form-control" /> <!--input box-->
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-3" value="Create"/> <!--create button-->
                </div>
            </form>
                   
        </div>
    </div>
</div>
</section>


<!--Scripts--> 

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>

//Animations
AOS.init();
</script>

<script type="text/javascript">
//Popups 

//Edit 
$('.edit').click(function (ev) {
    ev.preventDefault(); 

    let action = $(this).attr('href');

    $.get(action, function (data) {
        let myModal = $("#exampleModal3");
            myModal.find("form.data").html(data);
        $('#exampleModal3').modal('show');
    });
});

// Delete 
$('.delete').click(function (ev) {
    ev.preventDefault(); 

    let action = $(this).attr('href');

    $.get(action, function (data) {
        let myModal = $("#exampleModal4");
            myModal.find("form.data").html(data);
        $('#exampleModal4').modal('show');
    });
});

// Upload 
$('.uploading').click(function (ev) {
    ev.preventDefault(); 

    let action = $(this).attr('href');

    $.get(action, function (data) {
        let myModal = $("#exampleModal2");
            myModal.find("form.data").html(data);
        $('#exampleModal2').modal('show');
    });
});

//ID tooltip
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})

</script >
@section Scripts{ 
    
@{ 
    <partial name="_DeleteAIModel"/>
    <partial name="_EditAIModel"/>
}

}