@model Pagination
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{int i = 1;}
@{int x = 1;}

@{
    ViewBag.Title = "AI Model Versions";
}

<link href="~/lib/bootstrap/dist/css/" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="page-content" xmlns="http://www.w3.org/1999/html">

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content helloUser">
  <span class="md-2 pt-3 text-secondary ">
        <a asp-action="Index" asp-controller="AiModel" asp-route-inventoryId="@ViewBag.InventoryId" class="btn "><i class="fas fa-chevron-left text-color"> </i></a>
     
             &nbsp; AI Model Versions
            
  </span> 
        <hr>
        
        <div class="row pt-3">
     <b class="pl-3">Total  Versions &nbsp;</b> &nbsp;<i class="fas fa-angle-right pt-1 "></i>  &nbsp; <span class="text-color" > &nbsp; @ViewBag.totalModels</span>
                      
           
              <div class="row mr-3 ml-lg-auto ml-md-auto ml-sm-auto pt-1 ml-3">
                                                                   @using (Html.BeginForm())
                                                                   {
                                                                       <div class="input-group md-form form-sm form-2 pl-0 shadow-sm bg-body rounded">
                                                                           @Html.TextBox("SearchString", null, new {@class = "form-control my-0 py-1 text-center red-border", placeholder = "Search Versions"})
                                                                           <div class="input-group-append">
                                                                               <button class="input-group-text red lighten-3" value="Search" type="submit" id="basic-text1">
                                                                                   <i class="fas fa-search text-dark"
                                                                                      aria-hidden="true"></i></button>
                                                                           </div>
                                                                       </div>
                                                                   }
                                                               </div>
            </div>

      
             <div class="row ">
                                        <!--Date sorts-->
                                                                      @using (Html.BeginForm(FormMethod.Get,new { @class="w-100 md-2 float-left" }))
                                                                      { <div class="row ">
                                                                            
                                                                            <div class="col-md-12 mt-2 ml-3 col-lg-auto">
                                                                                <b>Find Versions &nbsp;   <i class="fas fa-angle-right"></i> &nbsp; </b>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm mt-2 mr-3 col-lg-3 ml-3  ">
                                                                              From Date &nbsp;
                                                                                @Html.TextBox("from", null, new {@class = "form-control ", type = "date"})
                                                                            </div>
                                                                            <div class="col-md-12 col-sm mt-2 mr-3 col-lg-3 ml-3">
                                                                                To Date &nbsp;
                                                                                @Html.TextBox("to", null, new {@class = "form-control ", type = "date"})
                                                                            </div>
                                                                            <div class="col-md-3 col-md-auto col-sm mt-2 col-lg-auto  mr-3 ml-3">
                                                                                &nbsp; @Html.TextBox("sortOrder", "date", new {@class = "form-control col-md-2 ml-1", type = "text", hidden = true})
                                                                                <input type="submit" name="go" id="btn_search" value="Go" class="btn btn-3 btn-block"/>
                                                   
                                                                            </div>
                                                                              <div class="pt-4 col-md-12 ml-lg-auto col-md-auto col-sm mt-2 col-lg-auto  mr-3 ml-3">
                                                                                          @if (ViewBag.modelTraining == false)
                                                                                                            {
                                                                                                                <a asp-controller="AiModel" asp-route-projectId="@ViewBag.projectId" asp-action="Images" class="btn btn-3 shadow-sm bg-body rounded">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Upload New Images &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<i class="fa fa-upload" aria-hidden="true"></i></a>
                                                                                                               
                                                                                                            }</div>
                                                                                   
                                                                        </div>
                                                                         
                                                                      }        
                      <div class=" mr-3 ml-lg-auto ml-md-auto  pt-4 ml-3">
                                     <a asp-controller="AiModel" asp-action="CompareVersions" class="btn btn-3 shadow-sm bg-body rounded">&nbsp;&nbsp; Compare Model Versions&nbsp;&nbsp; <i class="fa fa-exchange" aria-hidden="true"></i></a>
                                                                    
                                       
                                 </div>            
                              
                <!--Table with bootstrap class .table and .table-condensed-->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                   
                    <div class="card shadow  mb-4 bg-body rounded">
                        <h5 class="card-header">Model Versions List 
                      </h5>   @if (ViewBag.canTrainNewVersion == true)
                                                                           {
                                                                               <span class="ml-auto float-right">
                                                                               <a asp-controller="AiModel" asp-route-projectId="@ViewBag.projectId" asp-action="TrainModel" class="btn btn-3 shadow-sm bg-body rounded ml-auto">Train New Version &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></a>
                                                                          </span> }
                        <div class="card-body" data-aos="zoom-in" data-aos-duration="500">
                            <div class="table-responsive">
                                @if (Model.PagedListVersions.Any())
                                {
                                    <table class="table text-center table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ID</th>
                                            <th>
                                                @Html.ActionLink("Version Name ", "ModelVersions", new {sortOrder = ViewBag.NameSortParm, ViewBag.ProjectId})
                                                <i class="fas fa-chevron-down text-grey"
                                                   aria-hidden="true"></i>
                                            </th>

                                            <th>Date Created</th>
                                            <th>Description</th>
                                            <th>Availability</th>
                                            <th>Training Status</th>
                                            <th class="text-center colspan-2"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var models in Model.PagedListVersions)
                                        {
                                            <tr>
                                                <td class="pt-4">@i</td>
                                                @{ i++; }
                                                <td>
                                                    <button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="@models.projectId">

                                                        <img class="p-2" width="40" alt="id" src="https://img.icons8.com/material/24/000000/voice-id.png"/>
                                                    </button>
                                                </td>
                                                <td class="pt-4">@models.Name</td>
                                                <td class="pt-4">@models.createdDate.ToShortDateString()</td>
                                                <td class="pt-4">@models.description</td>
                                                <td class="pt-4">
                                                    @if (@models.availableToUser)

                                                    {
                                                        <span> Available &nbsp; </span>
                                                        <i class="fa fa-check-circle text-success"></i>
                                                    }
                                                    else
                                                    {
                                                        <span> Unavailable &nbsp; </span>
                                                        <i class="fas fa-times-circle text-danger"></i>

                                                    }
                                                </td>

                                                <td class="pt-4">
                                                    @if (@models.status.Equals("Completed"))
                                                    {
                                                        <span> Completed &nbsp; </span>
                                                        <i class="fas fa-check-circle text-success"></i>
                                                    }
                                                    else
                                                    {
                                                        <span> Training &nbsp; </span>
                                                        <i class="fa fa-spinner fa-pulse fa-fw text-info"></i>
                                                    }
                                                </td>
                                                <td>


                                                    <div class="w-100 btn-group" role="group">

                                                        <a href="@Url.Action("EditVersion", "AiModel", new {@models.Id})"
                                                           class="btn edit" data-toggle="modal" data-target="#exampleModal3"
                                                           data-id="@models.projectId"><button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"> </i></button></a>

                                                        @if (!models.status.Equals("Training"))
                                                        {
                                                            <a href="@Url.Action("ViewPerformance", "AiModel", new {@models.Id})"
                                                               class="btn viewperformance" data-toggle="modal" data-target="#viewVersionPerformance"
                                                               data-id="@models.Id"><button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="View Performance Metrics"><i class="fas fa-search"> </i></button></a>

                                                            <a href="@Url.Action("DeleteVersion", "AiModel", new {@models.Id})"
                                                               class="btn delete" data-toggle="modal"
                                                               data-target="#exampleModal4" data-id="@models.Id"><button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"> </i></button></a>
                                                        }


                                                        @if (models.status.Equals("Completed") && models.availableToUser == false)
                                                        {
                                                            <a asp-controller="AiModel" class="btn " asp-action="PublishIteration" asp-route-projectId="@models.projectId" asp-route-iterationId="@models.Id"><button data-toggle="tooltip" data-placement="top" class="btn " title="Enable for item cataloging"> <i class="fa fa-toggle-off fa-lg pt-1" aria-hidden="true"></i></button></a>

                                                        }
                                                        else if (models.status.Equals("Completed") && models.availableToUser)
                                                        {
                                                            <a asp-controller="AiModel" class="btn " asp-action="UnpublishIteration" asp-route-projectId="@models.projectId" asp-route-iterationId="@models.Id"><button data-toggle="tooltip" data-placement="top" class="btn " title="Disable for item cataloging"> <i class="fa fa-toggle-on fa-lg pt-1" aria-hidden="true"></i></button></a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p >No Model Versions Found</p>}
                            </div>
                        </div>
                    </div>
                </div>
           
<hr>
                <!--Table with bootstrap class .table and .table-condensed-->
                                    <div class="col-xl-8 col-lg-13 col-md-13 col-sm-13 col-13 ">       <br>
                                        <div class="card shadow  mb-4 bg-body rounded" >
                                         
                                            <div class="card-body" data-aos="zoom-in" data-aos-duration="500">
                                                   <h5 class="text-muted pb-2">Model Tags</h5>
                                                                  
                                                <div class="table-responsive">
                                                    @if (!ViewBag.modelTags.Equals(null))
                                                    {
                                                        <table class="table text-center table-hover table-striped">
                                                            <thead >
                                                            <tr>
                                                                <th>#</th>
                                                                <th>ID</th>
                                                                <th>Tag</th>
                                                                <th >Image Count</th>
                                                                <th class="text-center colspan-2"></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            @foreach (var tag in ViewBag.modelTags)
                                                            {
                                                                <tr>
                                                                    <td class="pt-4">@x</td>
                                                                    @{ x++; }
                                                                    <td >
                                                                        <button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="@tag.Id">
        
                                                                            <img class="p-2" width="40" alt="id" src="https://img.icons8.com/material/24/000000/voice-id.png"/></button></td>
        
                                                                    <td class="pt-4">@tag.Name</td>
                                                                    <td class="pt-4">@tag.ImageCount</td>
                                                                    <td >
                                                                        <div class="w-100 btn-group " role="group">
        
                                                                            <a href="@Url.Action("DeleteTag", "AiModel", new {tag.Id, ViewBag.projectId, tag.ImageCount, tag.Name})"
                                                                               class="btn delete" data-toggle="modal" data-target="#exampleModal4">
                                                                                <button class=" btn" type="button" data-toggle="tooltip" data-placement="top" title="Delete tag"><i class="fas fa-trash"> </i></button>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            </tbody>
                                                        </table>
                                                    }
                                                    else
                                                    {
                                                        <p class="pt-4">No Tags</p>}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             
                    <div class="col-xl-4 col-lg-12 col-md-4 col-sm-12 col-12 pt-4">
                      
                             @if(ViewBag.recommendations.Count > 0)
                                        {
                                            
                                            <div class="card shadow  mb-4 bg-body rounded" >
                                         
                                                <div class="card-body" data-aos="zoom-in" data-aos-duration="500">
                                                    <h5 class="text-muted pb-1">Recommendations</h5><br>
                                                     @foreach (string r in ViewBag.recommendations)
                                                                                                   {
                                                                                                       <div class="text-secondary "> <i class="fas fa-info-circle"></i> &nbsp; @r</div>
                                                                                                   }
                                                </div></div>
        
                                            
                                        }
                             else
                             {
                                 <div class="card shadow  mb-4 bg-body rounded" >
                                         
                                     <div class="card-body" data-aos="zoom-in" data-aos-duration="500">
                                         <h5 class="text-muted pb-2">Recommendations</h5><br>
                                         No current recommendations
                                             </div></div>
        
        
                                             }
                                         </div> </div>
        <!--Code to show current page and page number-->

            <div>
                @Html.PagedListPager(Model.PagedListVersions, page => Url.Action("ModelVersions", new { page }), new PagedListRenderOptions
                {
                    DisplayLinkToIndividualPages = true,
                    DisplayPageCountAndCurrentLocation = false,
                    MaximumPageNumbersToDisplay = 10,
                    LiElementClasses = new[] { "page-item, bg-light" },
                    PageClasses = new[] { "page-link", "text-color", "bg-light" },


                })
            </div>
            <!--Code to show current page and page number-->
            <div>
                Showing @(Model.PagedListVersions.PageCount < Model.PagedListVersions.PageNumber ? 0 : Model.PagedListVersions.PageNumber) out of @Model.PagedListVersions.PageCount entries
            </div>
            <br />
            @* Section to show the tags associated with the model *@


             </div>
            @* Section for AI model recommendations *@

           
            
        </div>
   
            
</section>


<!--Scripts-->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>

    //Animations
    AOS.init();
</script>

<script type="text/javascript">
    //Popups

    // Edit
    $('.edit').click(function (ev) {
        ev.preventDefault();

        let action = $(this).attr('href');

        $.get(action, function (data) {
            let myModal = $("#exampleModal3");
            myModal.find("form.data").html(data);
            $('#exampleModal3').modal('show');
        });
    });

    // Delete
    $('.delete').click(function (ev) {
        ev.preventDefault();

        let action = $(this).attr('href');

        $.get(action, function (data) {
            let myModal = $("#exampleModal4");
            myModal.find("form.data").html(data);
            $('#exampleModal4').modal('show');
        });
    });

    // Upload
    $('.uploading').click(function (ev) {
        ev.preventDefault();

        let action = $(this).attr('href');

        $.get(action, function (data) {
            let myModal = $("#exampleModal2");
            myModal.find("form.data").html(data);
            $('#exampleModal2').modal('show');
        });
    });

    $('.viewperformance').click(function (ev) {
        ev.preventDefault();

        let action = $(this).attr('href');

        $.get(action, function (data) {
            let myModal = $("#viewVersionPerformance");
            myModal.find("form.data").html(data);
            $('#viewVersionPerformance').modal('show');
        });
    });

    $('.deletetag').click(function (ev) {
        ev.preventDefault();

        let action = $(this).attr('href');

        $.get(action, function (data) {
            let myModal = $("#exampleModal4");
            myModal.find("form.data").html(data);
            $('#exampleModal4').modal('show');
        });
    });

    // ID tooltip
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


@{
    <partial name="_DeleteVersion" />
    <partial name="_EditVersion" />
    <partial name="_ViewPerformance" />
    <partial name="_DeleteTag"/>
}