@using BeanBag.Services
@using Microsoft.Identity.Web

@inject TenantService _tenantService
@{
    var tenant = _tenantService.GetCurrentTenant(User.GetObjectId());
}

@model Pagination
@{
    ViewBag.Title = "TenantUser";
}

@{int i = 1;}

<link href="~/lib/bootstrap/dist/css/" rel="stylesheet" />
<section class="page-content" xmlns="http://www.w3.org/1999/html">
    
    
<!--header-->
    <section class="search-and-user">
    <span class="col-md-1 text-secondary ">Tenant Settings</span>
        <div class="admin-profile ">
          
        </div>
        </section>
    
     
<!--Wrapper-->
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <hr>

        <!-- Button to view tenant details -->
        <div class="button1">
            <a asp-controller="TenantSettings" asp-action="EditDetails" class="btn btn-2 shadow-sm bg-body rounded" 
               data-toggle="modal" data-target="#exampleModal">Tenant Details &nbsp;  &nbsp;  &nbsp; </a>
    			                                                                                                                                            
    	</div>    
        
        <!-- Popup Form to view tenant details -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog" role="document">
        
			<div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"  id="exampleModalTitle">Tenant Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <form method="post" asp-action="EditDetails" >
                
                <div class="modal-body">
                    
                    @if (tenant != null)
                    {

                        <div class="form-group">
                            <label for="tenantName" class="col-form-label">Tenant name</label>
                            <input type="text" id="tenantName" name="tenantName" class="form-control" value="@tenant.TenantName"/> <!--input box--></div>

                        <div class="form-group">
                            <label for="tenantAddress" class="col-form-label">Address</label>
                            <input type="text" id="tenantAddress" name="tenantAddress" class="form-control" value="@tenant.TenantAddress"/> <!--input box-->
                        </div>
                        <br>

                        <h6 class="modal-title">Contact details</h6>

                        <div class="form-group">
                            <label for="tenantEmail" class="col-form-label">Email</label>
                            <input type="text" id="tenantEmail" name="tenantEmail" class="form-control" value="@tenant.TenantEmail"/> <!--input box--></div>

                        <div class="form-group">
                            <label for="tenantNumber" class="col-form-label">Telephone number</label>
                            <input type="text" id="tenantNumber" name="tenantNumber" class="form-control" value="@tenant.TenantNumber"/> <!--input box--></div>
                    }

                    <div asp-validation-summary="All" class="text-danger"></div>

                </div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<input type="submit" class="btn btn-primary" value="Save"/> <!--create button-->
					</div>
			</form>
                   
			</div>
		</div>
	</div>
        
        <div class="row">
            <br>
            <hr>
            <!--Search-->
            <div class="col-3 ml-auto ">
                @using (Html.BeginForm())
                {
                    <div class="input-group md-form form-sm form-2 pl-0 shadow-sm bg-body rounded">
                        @Html.TextBox("SearchString", null, new {@class = "form-control  my-0 py-1 red-border", placeholder = "Search"})
                        <div class="input-group-append">
                            <button class="input-group-text " value="Search" type="submit" id="basic-text1">
                                <i class="fas fa-search text-grey"
                                   aria-hidden="true"></i></button>
                        </div>
                    </div>
                }
            </div>

            <!--Table with bootstrap class .table and .table-condensed-->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <br>
                <div class="card shadow  mb-4 bg-body rounded">
                    <h5 class="card-header">Users
                    </h5>

                    <div class="card-body" data-aos="zoom-in" data-aos-duration="500">
                        <div>
                            @if (Model.PagedListTenantUsers.Any())
                            {
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <th>#</th>
                                    <th>User</th>
                                    </thead>

                                    <tbody>
                                    @foreach (var user in Model.PagedListTenantUsers)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            @{ i++; }
                                            <td>@user.UserName</td>

                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>No Users</p>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
</div>


</section>

<!--Scripts-->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
//Animations
AOS.init();
</script>