
@{
   
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->

	<link rel = "icon" href ="https://img.icons8.com/ios/50/ffffff/circled-b.png" type = "image/x-icon">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="~/css/dashboard.css" />
	<link rel="stylesheet" href="~/css/tenant.css" />
  
	<title> Pricing </title>

</head>


<style>
    .hidden {
        display: none;
    }

    li {
        list-style-type: none;
    }
 
</style>




<!--Nav-->
<nav class="navbar navbar-expand-md navbar-light">
	<a href="#" class="navbar-brand">Bean Bag</a>
	<button class="navbar-toggler ml-auto float-right mr-5" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	
	<div class="collapse navbar-collapse float-right ml-sm-auto"  id="navbarNav" >
		<ul class="navbar-nav ml-auto  pt-1">
				
			<li class="nav-item mr-5">

			

				<a class="nav-link  float-right " asp-area="MicrosoftIdentity" asp-controller="Welcome" asp-action="Index">
					Home
				</a>


			</li>
			
			<li class="nav-item  mr-5 ">		<a class="nav-link float-right" asp-area="MicrosoftIdentity" asp-controller="Tenant" asp-action="Index">
					Plans
				</a>
			</li>
			<li class="nav-item  mr-5 ">
				<a class="nav-link float-right" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
					SignOut
				</a>
			</li>

		</ul>
		
	</div>
	<hr>
</nav>

<div class="container h-75 d-flex justify-content-center">
    <div class="pl-5 pr-5 my-auto pt-xl-3 text-center">    
	    <!--Successful Payment here-->
        	<h1> Payment was completed successfully <img alt="" width="50" src="https://img.icons8.com/color/48/000000/checked--v4.gif"/></h1>
	    
	    		@if (@ViewBag.UpdatedSubscription==false)
			    {
				    <h4 class="pb-2"> Start creating a new tenant now</h4>
				    <!-- Button trigger modal -->
				    <button class="btn btn-outline-light shadow-sm bg-body create rounded colors pt-2 "  data-toggle="modal" data-target="#exampleModal3"  id="btn-pay" >Create New Tenant</button>
			    }else 
			    {
				    <h4 class="pb-2">Your subscription plan has been updated to @ViewBag.Subscription . <br> You may now return to your account.</h4>
				    <!-- Button trigger modal -->
				   <a asp-action="Index" asp-controller="Home" class="btn btn-3 ">Return to Account</a>
 
			    }
	    
	    </div>
 </div>

	<!---Popup Form to create tenant-->
	<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle3">
		<div class="modal-dialog modal-dialog" role="document">
        
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"  id="exampleModalTitle3">Create New Tenant </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="post" asp-controller="Tenant" asp-action="CreateTenant"  asp-route-payId="@ViewBag.PayReqId" asp-route-reference="@ViewBag.reference">
					<div class="modal-body">
							<p class="text-muted pb-2"> @ViewBag.Subscription Account</p>
                        			
						<div class="form-group">
							<label for="tenantName" class="col-form-label">Tenant name *</label>
							<input type="text" id="tenantName" name="tenantName" class="form-control" required/> <!--input box-->
						</div>
						
						<!---Adds the tenant subscription over here--> 
						@if (@ViewBag.Subscription == "Standard")
						{
							<input name="tenantSubscription" value="Standard" hidden />
                       
						}
						else
						{
							<input name="tenantSubscription" value="Premium" hidden />
						}
			
						<div class="form-group">
							<label for="tenantAddress" class="col-form-label">Address *</label>
							<input type="text" id="tenantAddress" name="tenantAddress" class="form-control" required/> <!--input box-->
						</div>
						
						<br>
						<h6 class="modal-title"> Contact details </h6>

						<div class="form-group">
							<label for="tenantEmail" class="col-form-label">Email *</label>
							<input type="email" id="tenantEmail" name="tenantEmail" class="form-control" required/> <!--input box-->
						</div>

						<div class="form-group">
							<label for="tenantNumber" class="col-form-label">Telephone number *</label>
							<input type="text" id="tenantNumber" name="tenantNumber" class="form-control" pattern="^\d{10}$" required/> <!--input box-->
						</div>

						<!---Add the subscription plans here-->
						
						<div asp-validation-summary="All" class="text-danger"></div>

					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<input type="submit" class="btn colors create" value="Create"/> <!--create button-->
					</div>
				</form>
			</div>
		</div>
	</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

