@model Item
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
}

<header>

    <nav class="navbar navbar-expand-lg fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bean Bag</a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-bars"> </i>
            </button>

            <!-- Navbar links add active thing on the link to the current that you're on... -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">

                    @{
                        System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- <li class="nav-item"><span class="navbar-toggler-icon"> Hello @User.Identity.Name</span>
                        </li>-->

                        @if (!string.IsNullOrEmpty(options.EditProfilePolicyId))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">Edit Profile</a>
                            </li>
                        }

                       <!-- <li class="nav-item">
                            <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Logout</a>
                        </li>-->
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="item-create d-flex align-items-center">
   <div class="col-5">
       <div class="content-item2">
           <div class="box">
               <img src="@ViewBag.imageUrl"/>
           </div>
           <p><b>Item Type:</b> @ViewBag.itemType</p>
       </div>
   </div> 
    <div class="col-1"> </div>
    
    <div class="col-6">
    <form method="post" asp-action="Create" asp-controller="Item">
        <div asp-validation-summary="All" class="text-danger"></div>
        <!--<div class="form-group row">
            <h2 class="text-black-50 pl-3">Add item</h2>
        </div>-->

        <div class="form-group row">
            <label asp-for="name"></label>
            <input asp-for="name" class="form-control"/>
        </div>

        <div class="form-group row">
            <label asp-for="inventoryId" value="Inventory"></label>
            <select asp-for="inventoryId" asp-items="@ViewBag.InventoryDropDown" class="form-control">
                <option selected>Select Inventory</option>
                </select>
            </div>

        <input asp-for="imageURL" class="form-control" value="@ViewBag.imageUrl" hidden/>
        <input asp-for="type" class="form-control" value="@ViewBag.itemType" hidden/>

        <input type="submit" class="btn btn-1" value="Create"/>
        <a asp-action="Index" asp-controller="Inventory" class="btn btn-2">Back</a>

        </form>
    </div>
</section>
  <footer id="sticky-footer"  class="footer-copyright ">
        <!--class="border-top footer text-muted"-->
        <div class="container">
            &copy; 2021 - BeanBag by <a class="agile-link" href="https://www.agilebridge.co.za/">Agile Bridge </a>
            <br>
            <a class="landing-page-image" href="https://www.freepik.com/vectors/box">Box vector created by vectorjuice - www.freepik.com</a>
        </div>
    </footer>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}