@model Item
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions

@{
    var options = _azureAdb2COptions.Value;
}

<section class="item-create row d-flex justify-content-center">
    <div class="col-2"> </div>
    <div class="col-2">
       <div class="content-item2">
           <div class="box">
               <img src="@ViewBag.imageUrl" alt="uploadedImage"/>
           </div>
           <p><b>Item Type:</b> @ViewBag.itemType</p>
       </div>
   </div> 
    <div class="col-2"> </div>
    
    <div class="col-5">
        <form method="post" asp-action="Create" asp-controller="Item">
            <div asp-validation-summary="All" class="text-danger"></div>
            <!--<div class="form-group row">
                <h2 class="text-black-50 pl-3">Add item</h2>
            </div>-->

            <div class="form-group row">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control"/>
            </div>

            <div class="form-group row">
                <label asp-for="inventoryId" value="Inventory"></label>
                <select asp-for="inventoryId" asp-items="@ViewBag.InventoryDropDown" class="form-control">
                    <option selected>Select Inventory</option>
                </select>
            </div>

            <input asp-for="imageURL" class="form-control" value="@ViewBag.imageUrl" hidden/>
            <input asp-for="type" class="form-control" value="@ViewBag.itemType" hidden/>

            <input type="submit" class="btn btn-1" value="Create"/>
            <a asp-action="Index" asp-controller="Inventory" class="btn btn-2">Back</a>

        </form>
    </div>
     <div class="col-1"> </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}