@model Item
@using Microsoft.Extensions.Options
@using Microsoft.Identity.Web
@inject IOptions<MicrosoftIdentityOptions> _azureAdb2COptions
@{int i = 0;}
<section class="page-content" xmlns="http://www.w3.org/1999/html">
    
    <section class="ml-3">
        <a asp-action="Index" asp-controller="Inventory" class="btn "><i class="fas fa-chevron-left text-color"> </i></a>
        <span class="col-md-1 text-secondary ">
            Inventory | Add Item
        </span>
    </section>

    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <hr>
            <br>

            <div class="row">
                <!-- ============================================================== -->
                <!-- Item image  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card shadow mb-3 bg-body rounded " data-aos="zoom-in" data-aos-duration="1000">
                        <h5 class="card-header">Add Item <i class="fas fa-plus-folder"> </i> </h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm p-3">
                                    <div >
                                        <div >
                                            <div class="card shadow  mb-3 bg-body rounded">
                                                <div class="card-body ">
                                                    <div id="mdb-lightbox-ui"></div>
                                                    <div class="mdb-lightbox">
                                                        <div class="row product-gallery mx-1 d-flex justify-content-center">
                                                            <div class="col-7 mb-0">
                                                                <figure class="view overlay rounded z-depth-1 main-img">
                                                                    <a href="@ViewBag.imageUrl"
                                                                       data-size="110x223">
                                                                        <img src="@ViewBag.imageUrl"
                                                                             class="img-fluid z-depth-1" alt="">
                                                                    </a>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Create item form-->
                                <div class="col-sm pl-5 pr-5 pt-3">
                                    <form method="post" asp-action="Create" asp-controller="Item">
                                        <div class="form-group row">
                                            <h5 class="text-muted">Item Details</h5> <hr></div>

                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <input asp-for="imageURL" class="form-control" value="@ViewBag.imageUrl" hidden/>
                                        <input asp-for="type" class="form-control" value="@ViewBag.itemType" hidden/>

                                        <div class="form-group row">
                                            <label asp-for="name"></label>
                                            <input asp-for="name" class="form-control"/>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="price"></label>
                                            <input asp-for="price" class="form-control"/>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="quantity"></label>
                                            <input asp-for="quantity" class="form-control"/>
                                        </div>

                                      <div class="form-group row">
                                          <label asp-for="colour">Colour</label> &nbsp; &nbsp;<br>
                                          <input asp-for="colour" type="color"  size="100px" name="colour">
                                          </div>

                                        <div class="form-group row">
                                            <label asp-for="inventoryId" value="Inventory"></label>
                                            <select asp-for="inventoryId" asp-items="@ViewBag.InventoryDropDown" class="form-control">
                                                <option selected>Select Inventory</option>
                                            </select>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="condition" value="Condition">Condition</label> &nbsp; &nbsp;<br>
                                            <select asp-for="condition" name="condition" class="form-control">
                                                <option value="New">New</option>
                                                <option value="Pre-Owned">Pre-Owned</option>
                                                <option value="Damaged">Damaged</option>
                                            </select>
                                        </div>

                                        <label asp-for="inventoryId" value="Inventory"></label>
                                        <div class="form-group row">
                                            <!--Add your own tags -->
                                              <table class="table table-bordered table-hover pr-5" id="tab_logic">
                                                  <thead>
                                                      <tr>
                                                          <th>#</th>
                                                          <th>Tag Name</th>
                                                          @if (ViewBag.usePrediction == true)
                                                          {
                                                              <th> Prediction % </th>
                                                          }
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr id="@i">
                                                          <td>@i</td>
                                                          @if (ViewBag.usePrediction == true)
                                                          {
                                                              @foreach (var x in ViewBag.listPredictions)
                                                              {
                                                                  <td>
                                                                      <input type="text" name='tags' placeholder='Name' value="@x.tagName" class="form-control" />
                                                                  </td>
                                                                  <td>
                                                                      <input type="text" placeholder='Name' value="@x.percentage" class="form-control" disabled="true" />
                                                                  </td>
                                                                  i++;
                                                              }
                                                          }
                                                          else
                                                          {
                                                              <td>
                                                                  <input type="text" name='tags' placeholder='Name' class="form-control" />
                                                              </td>
                                                          }
                                                      </tr>
                                                      <tr id="@i"></tr>
                                                      <tr id="address1"></tr>
                                                  </tbody>
                                              </table>
                                                <a id="add_row" class="btn btn-3  text-light">Add &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></a> &nbsp;  &nbsp; 
                                              <a id='delete_row' class="btn btn-3 text-light">Remove &nbsp; <i class="fa fa-ban" aria-hidden="true"></i></a>                                  
                                            </div>
                                     
                                        
                                      
                                        
                                        <div class="form-group row ">
                                            <input type="submit" class="btn btn-3 float-right ml-auto" value="Create"/>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end  -->
        <!-- ============================================================== -->
    </div>
</section>

<!--Scripts-->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<script>
  AOS.init();
</script>

@* This script functions is used to add dynamic text boxes to allow the user to enter as many tags as
 they desire with the uploaded test images *@
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
       $(document).ready(function(){  
        let i=@i;
       $("#add_row").click(function(){
        $('#'+i).html("<td>"+ (i+1) +"</td><td><input name='tags' type='text' placeholder='Name' class='form-control input-md'  /> " 
         );
      
        $('#tab_logic').append('<tr id="'+(i+1)+'"></tr>');
        i++; 
       });
       $("#delete_row").click(function(){
      	 if(i>1){
  		 $("#"+(i-1)).html('');
  		 i--;
  		 }
  	 });
  });   
</script>


