@model IEnumerable<Item>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Inventory List</h2><br/>
            <h4 class="text-secondary">@ViewBag.InventoryName</h4>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Item" asp-action="UploadImage" class="btn btn-success">Add new Item</a>
            <a asp-controller="Inventory" asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Item Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="50%">@item.name</td>
                        <td width="50%">@item.type</td>
                        <td width="50%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Item" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-secondary">Edit</a>
                                <a asp-controller="Item" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No items yet</p>
    }
</div>

