
@using BeanBag.Services

@inject TenantService _tenantService
@{
	Layout = null;
}
@model Pagination
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<link rel = "icon" href ="https://img.icons8.com/ios/50/ffffff/circled-b.png" type = "image/x-icon">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	
	<link rel="stylesheet" href="~/css/dashboard.css" />
	<link rel="stylesheet" href="~/css/tenant.css" />
	<title>Tenant</title>
</head>
<body>

<!--Nav-->
<nav class="navbar navbar-expand-md navbar-light">
	<a href="#" class="navbar-brand">Bean Bag</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	@{
		System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
	}
	
	<div class="collapse navbar-collapse">
		<div class="navbar-nav ml-auto">
			<li class="nav-item" >
			</li>
		</div>
	</div>
	
	<div class="collapse navbar-collapse"  id="collapsibleNavbar">
		<div class="navbar-nav ml-auto  pt-2" >
			<li class="nav-item">
				
				<a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Tenant" asp-action="TenantPlans">
                					Pricing Plans</a>

			

			</li>
		<li class="nav-item">	<a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                             					SignOut
                             				</a>
		</li>		
		
            		<li class="nav-item">	<!--Search-->
                                            	
                                            	<div >
                                            		@using (Html.BeginForm())
                                            		{
                                            			<div class="input-group md-form form-sm form-2 pl-0 shadow-sm bg-body rounded">
                                            				@Html.TextBox("SearchString", null, new {@class = "form-control  my-0 py-1 red-border", placeholder = "Search Tenants"})
                                            				<div class="input-group-append">
                                            					<button class="input-group-text " value="Search" type="submit" id="basic-text1"> <i class="fas fa-search text-grey" aria-hidden="true"></i></button>
                                            				</div>
                                            			</div>
                                            		}
                                            	</div>
                    	</li>		
		</div>
		
	</div>
		<hr>
</nav>

<div class="pt-3">
	<h2 class="text-center">Find or Create a New Tenant </h2>
</div>

<br>
        
	<div class="text-center">
		<a asp-controller="Tenant" asp-action="CreateTenant" class="btn btn-outline-light shadow-sm bg-body create rounded colors" data-toggle="modal" data-target="#exampleModal">New Tenant &nbsp;   <i class="fa fa-plus"   aria-hidden="true"></i></a> 
	</div>
		

<div class="container pt-4 ">

	<div class="row pt-5 m-auto pl-0 pr-0">
		
		 @if (Model.PagedListTenants.Any())
		 {
			 @foreach (var models in Model.PagedListTenants)
			 {
				   <div class="col-lg-4 col-md-12 mb-4">
					 <!-- Copy the content below until next comment -->
					 <div class="card card-custom bg-white border-white border-0">
						 <div class="card-custom-img" ></div>
						 <div class="card-custom-avatar">
							 <img class="img-fluid" src=@models.TenantLogo alt=""/>
						 </div>
						 <div class="card-body" style="overflow-y: auto">
							 <h4 class="card-title">@models.TenantName</h4>
							 <p class="card-text">Add some tenant details here like email company address stuff like that area.</p>
						 </div>
						 <div class="card-footer ml-auto" style="background: inherit; border-color: inherit;">
							 <a href="@Url.Action("SelectTenant", "Tenant", new {tenant= @models.TenantName})" data-id="@models.TenantName "
							    class="btn ml-auto btn-light text-right rounded-circle">
								  <img src="https://img.icons8.com/cotton/64/000000/login-rounded-right--v1.png" alt="login" width="30"/>

							 </a>
					 </div>
					 </div>
					 <!-- Copy until here -->
				 </div>
			 }
		 } else
          		 {
          			 <div> <h3> There are no tenants </h3></div>
          		 }

	</div>
	
</div>

<!--Code to show current page and page number-->
<div >
	<div class="pl-5 pt-3 ">
		@Html.PagedListPager(Model.PagedListTenants, page => Url.Action("Index", new {page}), new PagedListRenderOptions
		{
			DisplayLinkToIndividualPages = true,
			DisplayPageCountAndCurrentLocation = false,
			MaximumPageNumbersToDisplay = 10,
			LiElementClasses = new[] {"page-item" , "bg-light","text-dark"},
			PageClasses = new[] {"page-link", "bg-light","text-dark" }, 
                       
                          
    
		})
	</div>
                 
	<!--Code to show current page and page number-->
	<div class="pl-5">
		Showing @(Model.PagedListTenants.PageCount < Model.PagedListTenants.PageNumber ? 0 : Model.PagedListTenants.PageNumber) out of @Model.PagedListTenants.PageCount results
	</div>
</div>

</body>
</html>


	<!---Popup Form to create tenant-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog" role="document">
        
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"  id="exampleModalTitle">Create New Tenant</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
                
				<form method="post" asp-action="CreateTenant" >
					<div class="modal-body">
						<div class="form-group">
							<label for="tenantName" class="col-form-label">Tenant name *</label>
							<input type="text" id="tenantName" name="tenantName" class="form-control"/> <!--input box-->
						</div>

						<div class="form-group">
							<label for="tenantAddress" class="col-form-label">Address *</label>
							<input type="text" id="tenantAddress" name="tenantAddress" class="form-control"/> <!--input box-->
						</div><br>
						
						<h6 class="modal-title" >Contact details</h6>

						<div class="form-group">
							<label for="tenantEmail" class="col-form-label">Email *</label>
							<input type="text" id="tenantEmail" name="tenantEmail" class="form-control"/> <!--input box-->
						</div>
						
						<div class="form-group">
							<label for="tenantNumber" class="col-form-label">Telephone number *</label>
							<input type="text" id="tenantNumber" name="tenantNumber" class="form-control"/> <!--input box-->
						</div>
						
						<div asp-validation-summary="All" class="text-danger"></div>
	                    
					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<input type="submit" class="btn colors create" value="Create"/> <!--create button-->
				</div>
				</form>
                   
			</div>
		</div>
	</div>

<!--Scripts-->
<script src="js/automation.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

